html {
	scroll-behavior: smooth;
}

body {
	font-family: Atkinson Hyperlegible, Helvetica, Arial, sans-serif;
	margin: 5ex;
	font-size: 1.2rem;
}

::selection {
	background: mediumaquamarine;
	color: black !important;
}

tt, code, .mono {
	font-family: DM Mono, SF Mono, Source Code Pro, Fira Code, Roboto Mono, monospace;
	font-size: 1.07rem;
}

tt, p {
	padding: 0;
	margin: 0;
	margin-bottom: .5ex;
}

ul {
	padding-left: 2ex;
	list-style-type: "×";
	list-style-position: outside;
}

ul > li {
	padding-inline-start: 1ex;
}

a { color: black }

a:hover {
	color: white;
	background: black;
}

main {
	float: left;
	width: 70ex;
	margin-right: 50px;
	margin-bottom: 4vh;
}

h2, h3 {
	margin-top: 2em;
	scroll-margin: 30px;
}

h2 + h3 {
	margin-top: 0 !important;
}

aside {
	position: sticky;
	top: 30px;
	float: left;
	max-width: 24ex;
}

aside > *:first-child {
	margin: 0 !important;
}

main > *:first-child {
	margin-top: 0 !important;
}

section:not(:first-child) {
	margin-top: 2rem;
}

pre {
	position: relative;
	padding: 2ex;
	background: #000;
}

code {
	white-space: nowrap;
	background: #eee;
	padding: .2ex .5ex;
}

pre code {
	white-space: pre-wrap;
	background: none;
	padding: 0;
	letter-spacing: 0;
	color: white;
	font-size: 1.2rem;
}

.copy {
	user-select: none;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 1px 4px;
	background: white;
	border: none;
}

.copy:hover  { background: mediumaquamarine }
.copy:active { background: white }

/*pre:hover > .copy {
	opacity: 1;
	transition: opacity .1s;
}*/